/*********************************************
Fonts
*********************************************/
@import url(http://fonts.googleapis.com/css?family=PT+Sans|Fjalla+One|Nunito:300);
@import "helpers.less";

HTML, BODY {
    height: 100%;
    margin:0px;
    box-sizing:border-box;
    -moz-box-sizing:border-box; /* Firefox */
    -webkit-box-sizing:border-box; /* Safari */
}
BODY {
    background-color: #FAFAFA;
    font-family: 'PT Sans', sans-serif;
}

footer {
    color: #666;
    background: #222;
    padding: 17px 0 18px 0;
    border-top: 1px solid #000;
}
footer a {
    color: #999;
}
footer a:hover {
    color: #efefef;
}

#alert {
  clear:both;
  display: none;
  padding:10px 100px;
  text-align: center;
  margin:20px;
  border:solid 3px #444;
  -moz-border-radius: 7px;
  -webkit-border-radius: 7px;
  border-radius: 7px;
  &.h {
    display: none;
  }
  &.g {
    background-color: #bbffbb;
    display: inline-block;
  }
  &.b {
    background-color: #cf867e;
    display: inline-block;
  }
}
#content, #footer {
  padding: 10px;
}
#head {
  background-color: #cecece;
  font-family: 'Nunito';
  font-weight: bold;
  font-size: 36pt;
  font-style: italic;
  padding: 0px 10px;
}
#nav {
	width: 100%;
	float: left;
	margin: 0 0 1em 0;
	padding: 0;
	list-style: none;
	background-color: #bbb;
}
#nav li {
	float: left;
}
#nav li a {
	display: block;
	padding: 8px 15px;
	text-decoration: none;
	font-weight: bold;
	color: #000;
}
#nav li a:hover {
	background-color: #fff;
}
table {
  min-width: 500px;
  border:1px solid #aaaaaa;
  border-top:none;
  .border-radius(0px, 4px, 4px, 0px);
  border-spacing:0px;
  text-align: center;
  border-collapse:collapse;
  margin:auto;

  thead {
    tr {
      td {
        font-family: Nunito, Cambria, Georgia;
        border-bottom: 1px solid #F3C14F;
      }
    }
  }

  tr {
    td {
      padding:5px;
      border-bottom: 1px solid #999999;
      font-family: 'PT Sans', sans-serif;
    }
  }
  caption {
    .border-radius(4px, 0px, 0px, 4px);
    color: #000;
    background-color: #C9C9C9;
    width: 100%;
    font-size:16pt;
    font-family: 'Fjalla One', sans-serif;
    padding: 6px 8px;
    border: 2px solid #5C6066;
  }

}
