{% extends "base.html" %}

{% block title %}Index{% endblock %}

{% block head %}
     {{ super() }}
     <script type="text/javascript">
         $(function() {
             bind_import("import");
         });
     </script>
 {% endblock %}

{% block content %}
<p>Paste a copy of your CSV formatted record entries in the following format:</p>
<pre>
    COST      DESC      DATE      CATEGORY
</pre>
<form action="{{ url_for('from_csv') }}" id="import">
    <textarea name="data" class="input-block-level" rows="20" placeholder="Enter your CSV information here"></textarea>
    <br />
    <input type="submit" value="Commit" />
</form>
{% endblock %}

